.article {

  &__heading {
    text-align: center;

    h1 {
      font-size: 3rem;
      margin: 0;
    }
  }

  &__meta {

  }

  &__tags span {
    background-color: var(--color-on-primary);
    color: var(--color-primary);
    font-weight: 600;
    margin: 0 1rem;
    padding: 0 0.7rem;
    border-radius: 0.5rem;

    &::before {
      content: "#";
    }
  }
}

