:root {
  --color-primary: rgb(230, 13, 55);
  --color-primary-high: rgba(230, 13, 55, 0.5);
  --color-on-primary: #FFF9FA;
  --color-secondary: rgb(13, 96, 230);
  --color-on-secondary: #D9EBFF;
  --color-tertiary: rgb(230, 208, 13);
  --color-on-tertiary: #665800;
  --color-surface: rgb(249, 249, 249);
  --color-on-surface: #666666;
  //--color-on-surface: #797979;

  --color-grey-lightest: #faf9f9;
  --color-grey-light: #e5e5e5;
  --color-grey-dark: #979797;
  --color-grey-darkest: #777676;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.15);

  font-size: 62.5%; // 10px as 1 rem == 16px = 1.6 rem
}

* {
  @include box-sizing;
  line-height: 1.65;
}

html,
body {
  background-color: white;
  color: var(--color-on-surface);
  margin: 0;
  padding: 0;
}

