@import "abstract/variables";
@import "base/base";
@import "base/code";
@import "base/typography";
@import "components/articles";

h1, nav, footer {
  text-align: center;
}

main {
  margin: 4rem auto;
  max-width: 60rem;
}
